.login.hidden-xs.opacity
  form(role='form', action=locals.webRoot + '/', method='post').form-inline
    input(type='hidden', name='_csrf', value=locals.token)
    .form-group
      input(type='text', name='username', placeholder='Username').form-control.input-sm.input-checker#username
    .form-group
      input(type='password', name='password', placeholder='Password').form-control.input-sm.input-checker#password
    button(type='submit').btn.btn-xs.btn-default.btn-login Log In
