ul.list-inline
  li
    i.puase-downloading.glyphicon.glyphicon-pause.pointer
  li
   .badge.time-left.pointer
     span.time 0:00:00
     span.left  left
  li
   .badge.downloading-speed.pointer(title='Throttle Download Rate', rel='tooltip', data-placement='bottom')
     span.number 0
     span.unit  KB/s
  li
    i.add-nzb.glyphicon.glyphicon-plus.pointer(title='Add NZB File', rel='tooltip', data-placement='bottom')
