.modal.fade.bs-modal-sm.modal-delete-nzb(tabindex='-1', role='dialog', aria-labelledby='deleteNzb', aria-hidden='true')
  .modal-dialog.modal-sm
    .modal-content
      .modal-body(style='font-size: 130%;padding-bottom:0')
        div Are you sure you want
        div to delete this nzb?
      .modal-footer
        button(type='button', data-files='0').btn-modal-delete.btn.btn-sm.btn-block.btn-primary Delete NZB
        button(type='button', data-files='1').btn-modal-delete.btn.btn-sm.btn-block.btn-danger Delete NZB & Files
        button(type='button', data-dismiss='modal').btn.btn-sm.btn-block.btn-default Cancel
