body
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALElEQVQImV3IIRIAMAwCMP7/0k2BwjK1tlcRE1DOdK6CHZQ7f1TOoBzsoJwHipRfUbIRNaEAAAAASUVORK5CYII=')
  line-height: 1.25
  font-family: 'PT Sans', sans-serif

.lighter-text
  color: #555

.pointer
  cursor: pointer

.add-spacing
  padding: 0 5px

ul.action-menu
  padding: 3px 0
  margin: 0 -14px
  font-size: 14px
  list-style: none

  li.divider
    height: 1px
    margin: 5px 0
    overflow: hidden
    background-color: #e5e5e5

  li
    margin: 0

    a
      display: block
      padding: 3px 10px
      clear: both
      font-weight: normal
      line-height: 1.428571429
      color: #333333
      white-space: nowrap
      font-size: 80%

    a:hover, a:focus
      background-color: #e8e8e8
      background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%)
      background-repeat: repeat-x
      text-decoration: none

    a.with-icon
      pading: 0

.panel-body.stat
  padding: 7px

.panel-msg
  margin: -15px -15px 0px
  border-width: 0px 0px 1px
  border-radius: 0 0 3px 3px
  padding: 8px
  font-size: 85%

.chartTooltip
  z-index: 1060
  position: absolute
  display: none
  border: 2px solid #000
  border-radius: 3px
  padding: 2px
  text-align: center
  color: #000

.panelStat
  .progress
    margin-bottom: 0
    height: 10px

.bandwidth-data-caps
  .panel-body
    max-height: 250px
    overflow-y: auto

    .media-list
      padding: 0
      margin: 0

      .progress
        margin-bottom: 0px
        height: 12px

      .detail
        font-size: 75%
        margin-top: 4px

.diskSpacePanel
  .panel-body
    max-height: 250px
    overflow-y: auto

    .media-list
      padding: 0
      margin: 0

      .media
        margin-top: 5px

        .media-object
          height: 35px
          width: 35px

        .media-body
          font-size: 75%
          margin-top: 4px

          .media-heading
            margin-bottom: 0

          .progress
            height: 12px
            margin-bottom: 0

          .server-offline
            color: #f00
            font-weight: bold
            text-align: center
            width: 100%

.carousel-menu
  position: absolute
  bottom: 0
  width: 100%
  z-index: 50

  .carousel-menu-holder
    display: none
    padding: 1px
    text-align: left
    white-space: normal
    background-color: #ffffff
    border: 1px solid #cccccc
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
    background-clip: padding-box

    .carousel-menu-content
      max-height: 200px
      overflow-x: auto
      overflow-y: hidden
      padding: 5px

.panel.recentlyAddedMoviesPanel, .panel.currentlyWatching
  .panel-body
    min-height: 337px
    padding: 5px
    position: relative

    .currentlyWactchingNothing
      margin: auto
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      width: 50%
      height: 50%
      display: table-cell
      text-align: center
      padding: 16% 0
      border: 1px solid #ddd
      background-color: #f5f5f5
      border-radius: 4px
      line-height: 30px
      font-weight: bold

  .carousel
    .carousel-inner
      border-radius: 5px

      img
        min-height: 327px
        width: 218px

      .carousel-caption
        border: 1px solid rgba(221, 221, 221, 0.3)
        border-radius: 3px
        background-color: rgba(245, 245, 245, 0.3)
        padding: 0px

        h3
          font-size: 18px
          margin-top: 10px
          span
            font-size: 15px
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9)

    .left.carousel-control
      border-radius: 5px 0 0 5px

    .right.carousel-control
      border-radius: 0 5px 5px 0

  .slideContainer
    .slides
      display: none
      width: 218px

      .slidesjs-navigation
        display: none

.panel.upComingShows
  table
    margin-bottom: 0

    tr.alt
      background: #f5f5f5

      .date-label
        background-color: rgb(58,135,173)

    td
      height: 86px
      padding: 1px 1px 1px 5px

      .date-label
        width: 18px
        height: 69px
        float: left
        font-weight: bold
        color: rgb(255,255,255)
        text-shadow: 0 1px 2px rgba(0,0,0,0.6)
        text-align: center
        font-size: 10px
        padding: 1px 3px
        border-radius: 4px
        margin-top: 5px
        background-color: rgb(70,136,71)

        span
          -webkit-transform: rotate(-90deg)
          display: inline-block
          width: 60px
          margin-left: -24px
          margin-top: 26px

      .shows
        margin-left: 22px
        overflow-x: auto
        overflow-y: hidden
        width: 312px

        ul
          margin-bottom: 0
          white-space: nowrap

          li
            padding: 3px

            .popover
              margin-top: -10px
              z-index: 1000

            .poster
              display: none
              padding: 3px
              background-color: #f5f5f5
              border: 1px solid #ddd
              border-radius: 4px
              -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)

              img
                border-radius: 3px
                width: 47px

            .poster.missing-episode
              border: 1px solid #f9b3b3
              background-color: #fde3e3

.panel.recentlyAiredShows
  .panel-body
    height: 208px
    padding: 5px
    overflow-x: auto
    overflow-y: auto

    ul
      margin-bottom: 0

      li
        padding: 4px

        .popover
          margin-top: -10px

          .watch-status
            position: absolute
            top: 8px
            right: 8px

          img.epPoster
            height: 140px
            width: 248px
      .poster
        display: none
        padding: 3px
        background-color: #f5f5f5
        border: 1px solid #ddd
        border-radius: 4px
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)

        img
          border-radius: 3px
          width: 56px

.systemModal
  .modal-body
    padding: 10px

    dd.current
      .offline
        color: #f00
        font-weight: bold

      span
        padding-right: 15px

    .nav > li > a
      padding: 5px 10px

    .cpuModel
      padding-top: 10px

    .alert-background
      height: 100%
      width: 100%
      position: absolute
      background-color: rgba(255, 255, 255, 0.7)
      top: 0
      z-index: 100

      .center-alert
        width: 75%
        height: 75px
        margin: auto
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0

        h4
          margin-bottom: 0

    .chart-container
      width: 558px
      height: 200px

    .well
      margin-bottom: 0
      .dl-horizontal
        margin-top: 0

    .chart-legend
      min-height: 17px

      table
        .legendColorBox
          padding: 0 2px
        .legendLabel
          padding-right: 15px
    dl
      margin-bottom: 0
      margin-top: 5px
      font-size: 85%

.tabs
  .tab
    border-radius: 5px 5px 0 0
    margin: -6px 0 0
    padding: 11px 11px 6px

    a
      cursor: pointer

    a:hover
     text-decoration: none 

  .tab.pull-left
    margin-right: 2px

  .tab.pull-right
    margin-left: 2px

  .tab.active
    background-color: #fff
    border: 1px solid #ddd
    border-width: 1px 1px 0 1px
    padding: 10px 10px 6px

.panel-services
  .panel-body
    padding: 8px

    .table-services
      width: 100%

      td
        padding: 2px

        a
          width: 70px
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6)

          i
            padding-right: 5px

.sabnzbd

  .panel-footer
    padding: 5px 10px

    .list-btn
      padding: 1px 15px

    .loading-history
      padding-left: 5px

      i.loading-history-icon
        font-size: 9px

  .time-left, .downloading-speed
    width: 80px

    .left, .unit
      color: #efefef
      font-size: 80%

  .enabled
    color: #428bca

  .remaining-space
    line-height: 23px

    span:first-child
      margin-right: 5px
    span:last-child
      margin-left: 5px

  .list-queue
    .menu
      white-space: nowrap

  .list-history
    .status-icon.failed
      color: #a94442

    .menu
      .btn-stage
        font-size: 11px
        padding: 1px 2px 1px 1px
        margin-right: 2px

  .list-body
    .empty-msg
      padding: 10px
      text-align: center
      font-style: italic
      font-size: 90%

    .table
      margin-bottom: 0

      tr.alt
        background: #f5f5f5

      td.middle


      td
        padding: 6px 4px
        vertical-align: middle

        .modal-delete-nzb
          font-weight: bold
          text-align: center
          padding-bottom: 0

        .drag-handle
          cursor: move

        .filename-wrap
          display: table
          width: 100%
          table-layout: fixed

        .filename-text
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          word-break: break-all
          word-wrap: break-word

        .progress
          height: 8px
          margin: 2px 0 0
          width: 100%

        .menu
          margin-top: 2px
 
          select.btn
            width: 20px
            font-size: 10px
            margin-top: -2px
            padding: 0 0 0 1px

          .delete-btn
            font-size: 10px
            margin-top: -2px
            padding: 0 3px

      td:first-child
        font-size: 14px
        padding: 12px 0 6px 5px

      td:last-child
        padding: 12px 6px 6px 2px


.panel-service
  .panel-heading
    .service-icon
      width: 24px
      margin: -5px 0 -5px -5px

    ul.list-inline
      margin-bottom: 0

      li
        padding-right: 2px
        padding-left: 3px
      li:last-child
        padding-right: 0

    .add
      margin-left: 5px
      margin-top: 4px

  .panel-body
    padding: 0
    max-height: 250px
    overflow-x: hidden
    overflow-y: auto
    width: 100%

  .panel-body.only-msg
    padding: 15px 15px 0

.body
  .weather-alerts
    padding: 0 15px 15px 15px

    span.label
      box-shadow: 0 1px 2px rgba(0,0,0,0.52)
      text-shadow: 0 1px 2px rgba(0,0,0,0.6)
      display: block
      width: 100%

.top-display-bar
  .weather-alerts
    margin-right: 8px

  .popover
    margin-left: -4px
    margin-top: -8px
    z-index: 1000

    .arrow
      height: 26px
      width: 50px
      background-color: #fff
      border-top-left-radius: 6px
      border-top-right-radius: 5px
      border: 1px solid rgba(0, 0, 0, 0.2)
      border-bottom-width: 0
      top: -26px
      margin-left: -25px

    .arrow:after
      border-style: none

    .weather-details
      width: 180px
      overflow-x: auto

  .weather-container
    .tempature.text
      z-index: 1001
      position: relative
      right: 0

      .ampm
        font-size: 7px
        margin-left: -6px

    table
      width: 168px

      td
        text-align: center

        h1, h4
          margin: 0

    h4, h5
      text-align: center

    p
      margin-bottom: 0

  .text
    color: #fff
    font-weight: bold
    margin-right: 20px
    font-size: 14px
    line-height: 36px
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)

    .ampm
      font-size: 10px
      padding-left: 2px

.body
  margin-top: 48px

.bottom-display-bar
  color: #fff
  border-top: 1px #053F47 solid
  position: fixed
  bottom: 0px
  width: 100%
  /* height: 50px */
  padding-top: 2px
  background: #067387
  background: -moz-linear-gradient(top,  #067387 0%, #1c5d81 35%, #0f2c33 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#067387), color-stop(35%,#1c5d81), color-stop(100%,#0f2c33))
  background: -webkit-linear-gradient(top,  #067387 0%,#1c5d81 35%,#0f2c33 100%)
  background: -o-linear-gradient(top,  #067387 0%,#1c5d81 35%,#0f2c33 100%)
  background: -ms-linear-gradient(top,  #067387 0%,#1c5d81 35%,#0f2c33 100%)
  background: linear-gradient(to bottom,  #067387 0%,#1c5d81 35%,#0f2c33 100%)
  z-index: 100

  .row
    padding: 5px 0 10px

  ul
    list-style: none
    list-style-image: none
    margin: 0
    padding: 0

  li
    height: 44px
    display: table-cell
    padding: 0 10px
    vertical-align: middle

  li.icon
    width: 50px
    font-size: 30px
    padding-left: 10px

  h1
    font-size: 14px
    font-weight: bold
    margin: 0
    padding: 0
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)
    margin-bottom: 2px

  .detail
    float: right
    font-size: 11px
    margin: 1px 2px
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)

  .progress
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) inset
    height: 12px
    margin: 0

  .progress.bandwidth
    width: 48%

  span.service
    margin: 0 2px

    .btn
      font-size: 8px


.top-display-bar
  background: url('../images/top-bar-bg.png') repeat-x #1d2837
  width: 100%
  height: 38px
  position: fixed
  top: 0
  left: 0
  border-bottom: 1px solid #0b1b30
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.52)
  z-index: 900

  .label
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.52)
    text-shadow: 0 1px 2px rgba(0,0,0,0.6)

  .login
    .opacity
      opacity: 0.8

    .opacity:focus
      opacity: 1

    input[type='text'], input[type='password']
      height: 22px
      padding-left: 5px

  .user
    height: 39px
    padding: 4px

    img
      margin: 0 10px
      position: relative
      right: 0
      width: 30px
      z-index: 1001

    .popover
      border-top-left-radius: 0
      margin-left: 62px
      margin-top: 0px


      .arrow
        background-clip: padding-box
        height: 34px
        margin-left: -82px
        top: -34px
        width: 40px

      .popover-content
        padding: 0px 14px


    ul
      min-width: 160px
      padding: 3px 0
      margin: 0 -14px
      font-size: 14px
      list-style: none

      li.divider
        height: 1px
        margin: 5px 0
        overflow: hidden
        background-color: #e5e5e5

      li
        margin: 0

        a
          display: block
          padding: 3px 10px
          clear: both
          font-weight: normal
          line-height: 1.428571429
          color: #333333
          white-space: nowrap

        a:hover, a:focus
          background-color: #e8e8e8
          background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%)
          background-repeat: repeat-x
          text-decoration: none

.rotate-icon
  -webkit-animation:rotateThis .5s infinite

.rotate-icon-slow
  -webkit-animation:rotateThis 1.5s infinite


.loader
  position: relative
  width: 42px
  height: 42px
  float:left
  -webkit-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

.loader-bg
  width: 100%
  height: 100%
  border-radius: 50%
  border: 5px solid rgba(203, 235, 245, 0.3)
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

  .text
    text-align: center
    padding-top:26%
    font-size: 12px
    color: rgba(203, 235, 245, 0.6)

.spiner-holder-1
  position: absolute
  top:0
  left:0
  overflow: hidden
  width: 50%
  height: 50%
  background: transparent
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

.spiner-holder-2
  position: absolute
  top:0
  left:0
  overflow: hidden
  width: 100%
  height: 100%
  background: transparent
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

.loader-spiner
  width: 200%
  height: 200%
  border-radius: 50%
  border: 5px solid #31b0d5
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box
  

.animate-0-25-a
  -webkit-transform:rotate(90deg)
  -moz-transform:rotate(90deg)
  -o-transform:rotate(90deg)
  transform: rotate(90deg)
  -webkit-transform-origin:100% 100%
  -moz-transform-origin:100% 100%
  -o-transform-origin:100% 100%
  transform-origin: 100% 100%

.animate-0-25-b
  -webkit-transform:rotate(-90deg)
  -moz-transform:rotate(-90deg)
  -o-transform:rotate(-90deg)
  transform: rotate(-90deg)
  -webkit-transform-origin:100% 100%
  -moz-transform-origin:100% 100%
  -o-transform-origin:100% 100%
  transform-origin: 100% 100%

.animate-25-50-a
  -webkit-transform:rotate(180deg)
  -moz-transform:rotate(180deg)
  -o-transform:rotate(180deg)
  transform: rotate(180deg)
  -webkit-transform-origin:100% 100%
  -moz-transform-origin:100% 100%
  -o-transform-origin:100% 100%
  transform-origin: 100% 100%

.animate-25-50-b
  -webkit-transform:rotate(-90deg)
  -moz-transform:rotate(-90deg)
  -o-transform:rotate(-90deg)
  transform: rotate(-90deg)
  -webkit-transform-origin:100% 100%
  -moz-transform-origin:100% 100%
  -o-transform-origin:100% 100%
  transform-origin: 100% 100%

.animate-50-75-a
  -webkit-transform:rotate(270deg)
  -moz-transform:rotate(270deg)
  -o-transform:rotate(270deg)
  transform: rotate(270deg)
  -webkit-transform-origin:100% 100%
  -moz-transform-origin:100% 100%
  -o-transform-origin:100% 100%
  transform-origin: 100% 100%

.animate-50-75-b
  -webkit-transform:rotate(-90deg)
  -moz-transform:rotate(-90deg)
  -o-transform:rotate(-90deg)
  transform: rotate(-90deg)
  -webkit-transform-origin:100% 100%
  -moz-transform-origin:100% 100%
  -o-transform-origin:100% 100%
  transform-origin:100% 100%

.animate-75-100-a
  -webkit-transform:rotate(0deg)
  -moz-transform:rotate(0deg)
  -o-transform:rotate(0deg)
  transform: rotate(0deg)
  -webkit-transform-origin:100% 100%
  -moz-transform-origin:100% 100%
  -o-transform-origin:100% 100%
  transform-origin: 100% 100%

.animate-75-100-b
  -webkit-transform:rotate(-90deg)
  -moz-transform:rotate(-90deg)
  -o-transform:rotate(-90deg)
  transform: rotate(-90deg)
  -webkit-transform-origin:100% 100%
  -moz-transform-origin:100% 100%
  -o-transform-origin:100% 100%
  transform-origin: 100% 100%
