body {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALElEQVQImV3IIRIAMAwCMP7/0k2BwjK1tlcRE1DOdK6CHZQ7f1TOoBzsoJwHipRfUbIRNaEAAAAASUVORK5CYII=");
  line-height: 1.25;
  font-family: 'PT Sans', sans-serif;
}
.lighter-text {
  color: #555;
}
.pointer {
  cursor: pointer;
}
.add-spacing {
  padding: 0 5px;
}
.panel-heading {
  padding: 10px;
}
.panel-title,
.modal-title,
.popover-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 199;
  background: #fff;
  opacity: 0.5;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
ul.action-menu {
  padding: 3px 0;
  margin: 0 -14px;
  font-size: 14px;
  list-style: none;
}
ul.action-menu li.divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
ul.action-menu li {
  margin: 0;
}
ul.action-menu li a {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
  font-size: 80%;
}
ul.action-menu li a:hover,
ul.action-menu li a:focus {
  background-color: #e8e8e8;
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  text-decoration: none;
}
ul.action-menu li a.with-icon {
  pading: 0;
}
.panel-body.stat {
  padding: 7px;
}
.panel-msg {
  margin: -15px -15px 0px;
  border-width: 0px 0px 1px;
  border-radius: 0 0 3px 3px;
  padding: 8px;
  font-size: 85%;
}
.chartTooltip {
  z-index: 1060;
  position: absolute;
  display: none;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 2px;
  text-align: center;
  color: #000;
}
.panelStat .progress {
  margin-bottom: 0;
  height: 10px;
}
.bandwidth-data-caps .panel-body {
  max-height: 250px;
  overflow-y: auto;
}
.bandwidth-data-caps .panel-body .media-list {
  padding: 0;
  margin: 0;
}
.bandwidth-data-caps .panel-body .media-list .progress {
  margin-bottom: 0px;
  height: 12px;
}
.bandwidth-data-caps .panel-body .media-list .detail {
  font-size: 75%;
  margin-top: 4px;
}
.diskSpacePanel .panel-body {
  max-height: 250px;
  overflow-y: auto;
}
.diskSpacePanel .panel-body .media-list {
  padding: 0;
  margin: 0;
}
.diskSpacePanel .panel-body .media-list .media {
  margin-top: 5px;
}
.diskSpacePanel .panel-body .media-list .media .media-object {
  height: 35px;
  width: 35px;
}
.diskSpacePanel .panel-body .media-list .media .media-body {
  font-size: 75%;
  margin-top: 4px;
}
.diskSpacePanel .panel-body .media-list .media .media-body .media-heading {
  margin-bottom: 0;
}
.diskSpacePanel .panel-body .media-list .media .media-body .drive-label {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.diskSpacePanel .panel-body .media-list .media .media-body .progress {
  height: 12px;
  margin-bottom: 0;
}
.diskSpacePanel .panel-body .media-list .media .media-body .server-offline {
  color: #f00;
  font-weight: bold;
  margin-top: -12px;
  text-align: center;
  width: 100%;
}
.carousel-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 50;
}
.carousel-menu .carousel-menu-holder {
  display: none;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background-clip: padding-box;
}
.carousel-menu .carousel-menu-holder .carousel-menu-content {
  max-height: 200px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 5px;
}
.panel.recently-added-movies .panel-body,
.panel.currently-watching .panel-body {
  min-height: 337px;
  padding: 5px;
  position: relative;
}
.panel.recently-added-movies .panel-body .currentlyWactchingNothing,
.panel.currently-watching .panel-body .currentlyWactchingNothing {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  display: table-cell;
  text-align: center;
  padding: 16% 0;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  border-radius: 4px;
  line-height: 30px;
  font-weight: bold;
}
.panel.recently-added-movies .carousel .carousel-inner,
.panel.currently-watching .carousel .carousel-inner {
  border-radius: 5px;
}
.panel.recently-added-movies .carousel .carousel-inner img.cover,
.panel.currently-watching .carousel .carousel-inner img.cover {
  min-height: 327px;
  width: 218px;
}
.panel.recently-added-movies .carousel .carousel-menu .popover-title,
.panel.currently-watching .carousel .carousel-menu .popover-title {
  line-height: 13px;
  padding: 8px 9px;
}
.panel.recently-added-movies .carousel .carousel-menu .carousel-menu-content,
.panel.currently-watching .carousel .carousel-menu .carousel-menu-content {
  font-size: 85%;
}
.panel.recently-added-movies .carousel .carousel-menu .carousel-menu-content table,
.panel.currently-watching .carousel .carousel-menu .carousel-menu-content table {
  width: 100%;
}
.panel.recently-added-movies .carousel .carousel-menu .carousel-menu-content table td.icon,
.panel.currently-watching .carousel .carousel-menu .carousel-menu-content table td.icon {
  width: 40px;
}
.panel.recently-added-movies .carousel .carousel-menu .carousel-menu-content table td.middle,
.panel.currently-watching .carousel .carousel-menu .carousel-menu-content table td.middle {
  padding: 0 5px;
}
.panel.recently-added-movies .carousel .carousel-menu .carousel-menu-content table td .cover,
.panel.currently-watching .carousel .carousel-menu .carousel-menu-content table td .cover {
  width: 38px;
  padding: 2px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.panel.recently-added-movies .carousel .carousel-menu .carousel-menu-content table td .cover img,
.panel.currently-watching .carousel .carousel-menu .carousel-menu-content table td .cover img {
  border-radius: 3px;
  width: 32px;
}
.panel.recently-added-movies .carousel .carousel-menu .carousel-menu-content table td .username,
.panel.currently-watching .carousel .carousel-menu .carousel-menu-content table td .username {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.panel.recently-added-movies .carousel .carousel-menu .carousel-menu-content table td strong,
.panel.currently-watching .carousel .carousel-menu .carousel-menu-content table td strong {
  font-family: 'Alegreya Sans', sans-serif;
  padding-right: 3px;
}
.panel.recently-added-movies .carousel .carousel-menu .carousel-menu-content table td .progress,
.panel.currently-watching .carousel .carousel-menu .carousel-menu-content table td .progress {
  height: 5px;
  margin-top: -4px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 5px;
}
.panel.recently-added-movies .carousel .left.carousel-control,
.panel.currently-watching .carousel .left.carousel-control {
  border-radius: 5px 0 0 5px;
}
.panel.recently-added-movies .carousel .right.carousel-control,
.panel.currently-watching .carousel .right.carousel-control {
  border-radius: 0 5px 5px 0;
}
.panel.upcoming-shows table {
  margin-bottom: 0;
}
.panel.upcoming-shows table tr.alt {
  background: #f5f5f5;
}
.panel.upcoming-shows table tr.alt .date-label {
  background-color: #3a87ad;
  border: 1px solid #2d6886;
}
.panel.upcoming-shows table td {
  height: 86px;
  padding: 1px 1px 1px 5px;
}
.panel.upcoming-shows table td .date-label {
  width: 18px;
  height: 69px;
  float: left;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  text-align: center;
  font-size: 10px;
  padding: 1px 3px;
  border-radius: 4px;
  margin-top: 5px;
  background-color: #468847;
  border: 1px solid #3d763e;
}
.panel.upcoming-shows table td .date-label span {
  -webkit-transform: rotate(-90deg);
  display: inline-block;
  width: 60px;
  margin-left: -25px;
  margin-top: 26px;
}
.panel.upcoming-shows table td .date-label.missing {
  background-color: #d9534f;
  border: 1px solid #c9312c;
}
.panel.upcoming-shows table td .shows {
  margin-left: 22px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 312px;
}
.panel.upcoming-shows table td .shows ul {
  margin-bottom: 0;
  white-space: nowrap;
}
.panel.upcoming-shows table td .shows ul li {
  padding: 3px;
}
.panel.upcoming-shows table td .shows ul li .popover {
  margin-top: -10px;
  z-index: 1000;
}
.panel.upcoming-shows table td .shows ul li .poster {
  display: none;
  padding: 3px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.panel.upcoming-shows table td .shows ul li .poster img {
  border-radius: 3px;
  width: 47px;
}
.panel.upcoming-shows table td .shows ul li .poster.missing-episode {
  border: 1px solid #f9b3b3;
  background-color: #fde3e3;
}
.panel.recentlyAiredShows .panel-body {
  height: 208px;
  padding: 5px;
  overflow-x: auto;
  overflow-y: auto;
}
.panel.recentlyAiredShows .panel-body ul {
  margin-bottom: 0;
}
.panel.recentlyAiredShows .panel-body ul li {
  padding: 4px;
}
.panel.recentlyAiredShows .panel-body ul li .popover {
  margin-top: -10px;
}
.panel.recentlyAiredShows .panel-body ul li .popover .watch-status {
  position: absolute;
  top: 8px;
  right: 8px;
}
.panel.recentlyAiredShows .panel-body ul li .popover img.epPoster {
  height: 140px;
  width: 248px;
}
.panel.recentlyAiredShows .panel-body ul .poster {
  display: none;
  padding: 3px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.panel.recentlyAiredShows .panel-body ul .poster img {
  border-radius: 3px;
  width: 56px;
}
.systemModal .modal-body {
  padding: 10px;
}
.systemModal .modal-body dd.current .offline {
  color: #f00;
  font-weight: bold;
}
.systemModal .modal-body dd.current span {
  padding-right: 15px;
}
.systemModal .modal-body .nav > li > a {
  font-family: 'Alegreya Sans', sans-serif;
  padding: 5px 10px;
}
.systemModal .modal-body h4 {
  font-family: 'Alegreya Sans', sans-serif;
}
.systemModal .modal-body .cpuModel {
  padding-top: 10px;
}
.systemModal .modal-body .alert-background {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.7);
  top: 0;
  z-index: 100;
}
.systemModal .modal-body .alert-background .center-alert {
  width: 75%;
  height: 75px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.systemModal .modal-body .alert-background .center-alert h4 {
  margin-bottom: 0;
}
.systemModal .modal-body .chart-container {
  width: 558px;
  height: 200px;
}
.systemModal .modal-body .well {
  margin-bottom: 0;
}
.systemModal .modal-body .well .dl-horizontal {
  margin-top: 0;
}
.systemModal .modal-body .chart-legend {
  min-height: 17px;
}
.systemModal .modal-body .chart-legend table .legendColorBox {
  padding: 0 2px;
}
.systemModal .modal-body .chart-legend table .legendLabel {
  padding-right: 15px;
}
.systemModal .modal-body dl {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 85%;
}
.tabs .tab {
  border-radius: 5px 5px 0 0;
  font-family: 'Alegreya Sans', sans-serif;
  margin: -6px 0 0;
  padding: 11px 11px 6px;
}
.tabs .tab a {
  cursor: pointer;
}
.tabs .tab a:hover {
  text-decoration: none;
}
.tabs .tab.pull-left {
  margin-right: 2px;
}
.tabs .tab.pull-right {
  margin-left: 2px;
}
.tabs .tab.active {
  background-color: #fff;
  border: 1px solid #ddd;
  border-width: 1px 1px 0 1px;
  padding: 10px 10px 6px;
}
.panel-services .panel-body {
  padding: 8px;
}
.panel-services .panel-body .service-item {
  padding: 2px;
}
.panel-services .panel-body .service-item a {
  text-shadow: 0 1px 1px rgba(0,0,0,0.6);
}
.panel-services .panel-body .service-item.min {
  float: left;
}
.panel-services .panel-body .service-item.full a {
  width: 70px;
}
.panel-services .panel-body .service-item.full a i {
  padding-right: 5px;
}
.sabnzbd .panel-footer {
  padding: 5px 10px;
}
.sabnzbd .panel-footer .list-btn {
  padding: 1px 15px;
}
.sabnzbd .panel-footer .loading-history {
  padding-left: 5px;
}
.sabnzbd .panel-footer .loading-history i.loading-history-icon {
  font-size: 9px;
}
.sabnzbd .time-left,
.sabnzbd .downloading-speed {
  width: 80px;
}
.sabnzbd .time-left .left,
.sabnzbd .downloading-speed .left,
.sabnzbd .time-left .unit,
.sabnzbd .downloading-speed .unit {
  color: #efefef;
  font-size: 80%;
}
.sabnzbd .enabled {
  color: #428bca;
}
.sabnzbd .remaining-space {
  line-height: 23px;
}
.sabnzbd .remaining-space span:first-child {
  margin-right: 5px;
}
.sabnzbd .remaining-space span:last-child {
  margin-left: 5px;
}
.sabnzbd .list-queue .menu {
  white-space: nowrap;
}
.sabnzbd .list-history .status-icon.failed {
  color: #a94442;
}
.sabnzbd .list-history abbr {
  font-family: 'Alegreya Sans', sans-serif;
}
.sabnzbd .list-history .menu .btn-stage {
  font-size: 11px;
  padding: 1px 2px 1px 1px;
  margin-right: 2px;
}
.sabnzbd .list-body .load-more {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
}
.sabnzbd .list-body .empty-msg {
  padding: 10px;
  text-align: center;
  font-style: italic;
  font-size: 90%;
}
.sabnzbd .list-body .table {
  margin-bottom: 0;
}
.sabnzbd .list-body .table tr.dragging-row {
  color: #f00;
}
.sabnzbd .list-body .table tr.alt {
  background: #f5f5f5;
}
.sabnzbd .list-body .table td.middle,
.sabnzbd .list-body .table td {
  padding: 6px 4px;
  vertical-align: middle;
}
.sabnzbd .list-body .table td.middle .modal-delete-nzb,
.sabnzbd .list-body .table td .modal-delete-nzb {
  font-weight: bold;
  text-align: center;
  padding-bottom: 0;
}
.sabnzbd .list-body .table td.middle .drag-handle,
.sabnzbd .list-body .table td .drag-handle {
  cursor: move;
}
.sabnzbd .list-body .table td.middle .filename-wrap,
.sabnzbd .list-body .table td .filename-wrap {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.sabnzbd .list-body .table td.middle .filename-text,
.sabnzbd .list-body .table td .filename-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  font-family: 'Alegreya Sans', sans-serif;
}
.sabnzbd .list-body .table td.middle .action-line,
.sabnzbd .list-body .table td .action-line {
  font-family: 'Alegreya Sans', sans-serif;
}
.sabnzbd .list-body .table td.middle .progress,
.sabnzbd .list-body .table td .progress {
  height: 8px;
  margin: 2px 0 0;
  width: 100%;
}
.sabnzbd .list-body .table td.middle .menu,
.sabnzbd .list-body .table td .menu {
  margin-top: 2px;
}
.sabnzbd .list-body .table td.middle .menu select.btn,
.sabnzbd .list-body .table td .menu select.btn {
  width: 20px;
  font-size: 10px;
  margin-top: -2px;
  padding: 0 0 0 1px;
}
.sabnzbd .list-body .table td.middle .menu .delete-btn,
.sabnzbd .list-body .table td .menu .delete-btn {
  font-size: 10px;
  margin-top: -2px;
  padding: 0 3px;
}
.sabnzbd .list-body .table td:first-child {
  font-size: 14px;
  padding: 12px 0 6px 5px;
}
.sabnzbd .list-body .table td:last-child {
  padding: 12px 6px 6px 2px;
}
.panel-service .panel-heading .service-icon {
  width: 24px;
  margin: -5px 0 -5px -5px;
}
.panel-service .panel-heading ul.list-inline {
  margin-bottom: 0;
}
.panel-service .panel-heading ul.list-inline li {
  padding-right: 2px;
  padding-left: 2px;
  vertical-align: middle;
}
.panel-service .panel-heading ul.list-inline li:last-child {
  padding-right: 0;
}
.panel-service .panel-heading .add {
  margin-left: 5px;
  margin-top: 4px;
}
.panel-service .panel-body {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.panel-service .panel-body .panel-loading {
  padding: 10px;
  text-align: center;
}
.panel-service .panel-body .panel-loading span {
  padding-right: 10px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
}
.panel-service .panel-body.only-msg {
  padding: 15px 15px 0;
}
.body .weather-alerts {
  padding: 0 15px 15px 15px;
}
.body .weather-alerts span.label {
  box-shadow: 0 1px 2px rgba(0,0,0,0.52);
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  display: block;
  width: 100%;
  padding: 10px;
}
.top-display-bar .weather-alerts {
  margin-top: -4px;
  margin-right: 8px;
}
.top-display-bar .popover {
  margin-left: -4px;
  margin-top: -8px;
  z-index: 1000;
}
.top-display-bar .popover .arrow {
  height: 26px;
  width: 50px;
  background-color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  border-bottom-width: 0;
  top: -26px;
  margin-left: -25px;
}
.top-display-bar .popover .arrow:after {
  border-style: none;
}
.top-display-bar .popover .weather-details {
  width: 180px;
  overflow-x: auto;
}
.top-display-bar .weather-container .tempature.text {
  z-index: 1001;
  position: relative;
  right: 0;
}
.top-display-bar .weather-container .tempature.text .ampm {
  font-size: 7px;
  margin-left: -6px;
}
.top-display-bar .weather-container table {
  width: 168px;
}
.top-display-bar .weather-container table td {
  text-align: center;
}
.top-display-bar .weather-container table td h1,
.top-display-bar .weather-container table td h4 {
  margin: 0;
}
.top-display-bar .weather-container h4,
.top-display-bar .weather-container h5 {
  text-align: center;
}
.top-display-bar .weather-container p {
  margin-bottom: 0;
}
.top-display-bar .text {
  color: #fff;
  font-weight: bold;
  margin-right: 20px;
  font-size: 14px;
  line-height: 36px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.top-display-bar .text .ampm {
  font-size: 10px;
  padding-left: 2px;
}
.body {
  margin-top: 48px;
}
.bottom-display-bar {
  color: #fff;
  border-top: 1px #053f47 solid;
  position: fixed;
  bottom: 0px;
  width: 100%;
/* height: 50px */
  padding-top: 2px;
  background: #067387;
  background: -moz-linear-gradient(top, #067387 0%, #1c5d81 35%, #0f2c33 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #067387), color-stop(35%, #1c5d81), color-stop(100%, #0f2c33));
  background: -webkit-linear-gradient(top, #067387 0%, #1c5d81 35%, #0f2c33 100%);
  background: -o-linear-gradient(top, #067387 0%, #1c5d81 35%, #0f2c33 100%);
  background: -ms-linear-gradient(top, #067387 0%, #1c5d81 35%, #0f2c33 100%);
  background: linear-gradient(to bottom, #067387 0%, #1c5d81 35%, #0f2c33 100%);
  z-index: 100;
}
.bottom-display-bar .row {
  padding: 5px 0 10px;
}
.bottom-display-bar ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.bottom-display-bar li {
  height: 44px;
  display: table-cell;
  padding: 0 10px;
  vertical-align: middle;
}
.bottom-display-bar li.icon {
  width: 50px;
  font-size: 30px;
  padding-left: 10px;
}
.bottom-display-bar h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  margin-bottom: 2px;
}
.bottom-display-bar .detail {
  float: right;
  font-size: 11px;
  margin: 1px 2px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.bottom-display-bar .progress {
  box-shadow: 0 1px 2px rgba(0,0,0,0.4) inset;
  height: 12px;
  margin: 0;
}
.bottom-display-bar .progress.bandwidth {
  width: 48%;
}
.bottom-display-bar span.service {
  margin: 0 2px;
}
.bottom-display-bar span.service .btn {
  font-size: 8px;
}
.top-display-bar {
  background: url("../images/top-bar-bg.png") repeat-x #1d2837;
  width: 100%;
  height: 38px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #0b1b30;
  box-shadow: 0 0 2px rgba(0,0,0,0.52);
  z-index: 900;
}
.top-display-bar .label {
  box-shadow: 0 1px 2px rgba(0,0,0,0.52);
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.top-display-bar .login .opacity {
  opacity: 0.8;
}
.top-display-bar .login .opacity:focus {
  opacity: 1;
}
.top-display-bar .login input[type='text'],
.top-display-bar .login input[type='password'] {
  height: 22px;
  padding-left: 5px;
}
.top-display-bar .user {
  height: 39px;
  padding: 4px;
}
.top-display-bar .user img {
  margin: 0 10px;
  position: relative;
  right: 0;
  width: 30px;
  z-index: 1001;
}
.top-display-bar .user .popover {
  border-top-left-radius: 0;
  margin-left: 62px;
  margin-top: 0px;
}
.top-display-bar .user .popover .arrow {
  background-clip: padding-box;
  height: 34px;
  margin-left: -82px;
  top: -34px;
  width: 40px;
}
.top-display-bar .user .popover .popover-content {
  padding: 0px 14px;
}
.top-display-bar .user ul {
  min-width: 160px;
  padding: 3px 0;
  margin: 0 -14px;
  font-size: 14px;
  list-style: none;
}
.top-display-bar .user ul li.divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.top-display-bar .user ul li {
  margin: 0;
}
.top-display-bar .user ul li a {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
}
.top-display-bar .user ul li a:hover,
.top-display-bar .user ul li a:focus {
  background-color: #e8e8e8;
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  text-decoration: none;
}
.rotate-icon {
  -webkit-animation: rotateThis 0.5s infinite;
}
.rotate-icon-slow {
  -webkit-animation: rotateThis 1.5s infinite;
}
.loader {
  position: relative;
  width: 42px;
  height: 42px;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.loader-bg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid rgba(203,235,245,0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.loader-bg .text {
  text-align: center;
  padding-top: 26%;
  font-size: 12px;
  color: rgba(203,235,245,0.6);
}
.spiner-holder-1 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 50%;
  height: 50%;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.spiner-holder-2 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.loader-spiner {
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 5px solid #31b0d5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.animate-0-25-a {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.animate-0-25-b {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.animate-25-50-a {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.animate-25-50-b {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.animate-50-75-a {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.animate-50-75-b {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.animate-75-100-a {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.animate-75-100-b {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
