div
  dl.dl-horizontal
    dt Current:
    dd.current
      .offline Server Offline
      .online
  div(style='position: relative;')
    .alert-background
      .center-alert
        .alert.alert-danger
          button(type='button', data-dismiss='alert', aria-hidden='true').close.close-alert &times;
          h4.text-center Server Offline
    .chart-container

  .well.well-sm
    dl.dl-horizontal
      dt Legend:
      dd.chart-legend
div.graphModalBody
