.carousel-menu
  .carousel-menu-holder
    h3.popover-title <%= title %> (<%= year %>)
    .carousel-menu-content.small
      .small
        strong Released: 
        |  <%= released %>
        br
        strong Length: 
        |  <%= length %>
        br
        strong Rating: 
        |  <%= rating %>
        br
        strong Plot: 
        |  <%= summary %>
