p.small
  strong Title: 
  | <%= epTitle %>
  br
  strong Episode: 
  | <%= epCode %> 
  strong Airs 
  span.episode-airs-moment
  br
  span.small
    | <%= showTimeAndNetwork %>
    br
    strong Plot: 
    | <%= epPlot %>
